<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8" />
    <title></title>
</head>
<body>
自定义表单验证:
<!--<form name="f" action="/login" method="post">-->
<form name="f" action="/login" method="post">
    <br/>
    用户名:
    <input type="text" name="username" placeholder="name"/><br/>
    密码:
    <input type="password" name="password" placeholder="password"/><br/>
    <input name="submit" type="submit" value="提交"/>
    <!--这里值的注意的是表单的用户名name和password输入框的name=""要
    和security里面的验证的对应:name="username";name="password",否则
    无法识别,
    另外action="/authentication/form"要与
    .loginProcessingUrl("/authentication/form")相对应,原因为:
    由于security是由UsernamePasswordAuthenticationFilter这个类
    定义登录的,里面默认是/login路径,我们要让他用我们的
    /authentication/form路径,就需要配置
    .loginProcessingUrl("/authentication/form")-->
</form>
</body>
</html>